// Usage (run on SGE):
// nextflow run nextflow/nextflow_pratice.nf -c nextflow.config -profile sge


conda.useMamba = true

profiles {

    // TODO: Include more specific queues from CENA (SGE Cluster - figsrv, neotera)

    sge {
        process.executor            = 'sge'
        process.queue               = 'all.q'
        process.clusterOptions      = '-pe smp 1'
    }

    // TODO: Include more specific queues from CENAPAD (PBS Cluster - lovelace, par24) 

    pbs {
        process.executor            = 'pbs'
        process.queue               = 'par128'
        process.clusterOptions      = '-l nodes=1:ppn=1,mem=1gb -q par128'
    }

}
