// config file for defining DSL2 module options and publishing paths

params {
    out_dir = '../results'           // outside 'workflows' directory, e.g. 'nextflow/results' and not the projectDir 'nextflow/workflows/results' (ofc we can discuss other options)
    report_dir = 'report'
    publish_dir_mode = 'symlink'    // avoid duplicating output files (I think we should always try to use symlink instead of copy mode)
    samples_csv = "$projectDir/../samples/samples.csv"
    ref_genome = "$projectDir/../references/cds_from_genomic.fna"
}

// OBS: that is just a draft version; we must try to remove every 'code smell' from our code (if possible)

profiles {
    process_low {
        process {
            label = 'process_low'
            cpus   = { 1 * task.attempt }
            memory = { 4.GB * task.attempt }
            time   = { 4.h * task.attempt }
        }
    }

    process_medium {
        process {
            label = 'process_medium'
            cpus   = { 2 * task.attempt }
            memory = { 8.GB * task.attempt }
            time   = { 2.h * task.attempt }
        }
    }

    process_high {
        process {
            label = 'process_high'
            cpus   = { 4 * task.attempt }
            memory = { 12.GB * task.attempt }
            time   = { 1.h * task.attempt }
        }
    }
}

report {
    enabled = true
    report.overwrite = true
    file = "${params.report_dir}/execution_report.html"
}

dag {
    enabled = true
    dag.overwrite = true
    file = "${params.report_dir}/execution_dag.html"
}

timeline {
    enabled = true
    timeline.overwrite = true
    file = "${params.report_dir}/execution_timeline.html"
}

trace {
    enabled = true
    trace.overwrite = true
    file = "${params.report_dir}/execution_trace.txt"
}

process {
    // Basic configuration for all profiles
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    withName: 'getReadFTP' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/0_getReadFTP",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'sampleInfo' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/1_sampleInfo",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'downloadReadFTP' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/2_rawReads",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'raw_fastqc' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/3_rawReadsFastQC",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'raw_multiqc' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/4_rawReadsMultiQC",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'bbduk' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/5_trimmedReads",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'trimmed_fastqc' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/6_trimmedReadsFastQC",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'trimmed_multiqc' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/7_trimmedReadsMultiQC",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'salmonIndex' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/8_salmonIndex",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'salmonQuant' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/9_salmonQuant",
            mode: params.publish_dir_mode,
            saveAs: { "${it}/" } // Preserva estrutura de diretórios
        ]
    }

    withName: 'salmonQuantMerge' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/10_expressionMatrix",
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'buildNetwork' {
        publishDir = [
            path: "$projectDir/${params.out_dir}/11_network",
            mode: params.publish_dir_mode,
        ]
    }
}
