// config file for defining DSL2 module options and publishing paths

params {
    outdir = '../results'           // outside 'workflows' directory, e.g. 'nextflow/results' and not the projectDir 'nextflow/workflows/results'
    publish_dir_mode = 'symlink'    // avoid duplicating output files (I think we should always try to use symlink instead of copy mode)
    indexName = 'RTX430'            // genome or transcriptome used for Salmon Quantification/Indexing
    genomes_dir = "${projectDir}/GENOMES/RAW" //folder for genomes/transcriptomes
}

// OBS: that is just a draft version; we must try to remove every 'code smell' from our code (if possible)

process {
    withName: 'getReadFTP' {
        publishDir = [
            path: "$projectDir/${params.outdir}/0_getReadFTP",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'sampleInfo' {
        publishDir = [
            path: "$projectDir/${params.outdir}/1_sampleInfo",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'downloadReadFTP' {
        publishDir = [
            path: "$projectDir/${params.outdir}/2_rawReads",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'raw_fastqc' {
        publishDir = [
            path: "$projectDir/${params.outdir}/3_rawReadsFastQC",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'raw_multiqc' {
        publishDir = [
            path: "$projectDir/${params.outdir}/4_rawReadsMultiQC",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'bbduk' {
        publishDir = [
            path: "$projectDir/${params.outdir}/5_trimmedReads",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'salmonIndex' {
        publishDir = [
            path: "$projectDir/6b_References",
            mode: params.publish_dir_mode
            saveAs: { "${params.indexName}_index" }
        ]
    }

    withName: 'salmonQuant' {
        publishDir = [
            path: "$projectDir/${params.outdir}/6_salmonResults",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'trimmed_fastqc' {
        publishDir = [
            path: "$projectDir/${params.outdir}/6_trimmedReadsFastQC",
            mode: params.publish_dir_mode
        ]
    }

    withName: 'trimmed_multiqc' {
        publishDir = [
            path: "$projectDir/${params.outdir}/7_trimmedReadsMultiQC",
            mode: params.publish_dir_mode
        ]
    }
}
